body {
    background-color: #ededed;
}

br.space-between-boxes{
    content: " " !important;
    display: block !important;
    margin:25px;
}

/* BOXES CSS */
* {
    text-align: center;
    color: #102937;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

div {
    background-color: #f9744b;
    display: inline-block; /* use inline-block */
    /* width: max-content; set width to the widest content */
    /* text-align: center; center the child elements horizontally */
    padding: 25px; /* add some padding around the child elements */
    padding-bottom: 15px;
    padding-top: 15px;
}

.parent-box {
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  border-style: solid;
  border-width: 7px;
  border-color: #d76542;
}

/* BUTTON CSS */
button {
  appearance: button;
  background-color: #17646c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ededed;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: left;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}

button:after {
  background-clip: padding-box;
  background-color: #124d54;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

/* UPLOAD FILE */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* FORM CSS */
form {
  width: 80%;
  margin: 0 auto;
}

label,
input {
  /* In order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

label+input {
  width: 50%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 00% 0 4%;
}


/* Only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */

input+input {
  float: right;
}

/* TIME SHOWERS */

.time-container {
  background-color: #1f818c;
  color: #ededed;
  border-radius: 25px;
  padding: 25px;
  border-style: solid;
  border-width: 7px;
  border-color: #17646c;
}

#all-time {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

/* TIME BUTTON */

.run-button {
  width: 180px;
  text-align: center;
}
